.moreInfo_container__margin {
    margin: 0 auto;
    width: 78rem;
    text-align: left;
    border: 1px solid #000;
}


.user_container__margin {
    margin: 0 auto;
}

.moreInfo_textarea__width {
    width: 20rem;
    height: 8rem;
    resize: none;
}

.moreInfo_textarea__borderNone {
    border: none;
    border-radius: .25rem;
    box-shadow: 0 0 .2rem #606060;
}

